/* Monospace font */
.font-monospace * {
  font-family: var(--font-monospace) !important;
}

/* Font weights */
.font-thin {
  font-weight: 100;
}

.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

.font-black {
  font-weight: 900;
}

/* Text cases */
.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalize {
  text-transform: capitalize;
}

/* Align text */
.text-left {
  text-align: start;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: end;
}

.text-justify {
  text-align: justify;
}

/* Invert images */
.images-invert img {
  filter: invert(1);
}

/* Grayscale images */
.images-grayscale img {
  filter: grayscale(1);
}

/* Sepia images */
.images-sepia img {
  filter: sepia(1);
}

/* Blur images */
.images-blur-sm img,
.images-blur-md img,
.images-blur-lg img {
  transition: all 0.3s ease;
}

.images-blur-sm img:hover,
.images-blur-md img:hover,
.images-blur-lg img:hover {
  filter: blur(0);
}

.images-blur-sm img {
  filter: blur(5px);
}

.images-blur-md img {
  filter: blur(10px);
}

.images-blur-lg img {
  filter: blur(15px);
}

/* Make images square (remove rounded corners) */
.images-square img {
  border-radius: 0;
}

/* Scale images on hover */
.workspace-leaf-content[data-mode="preview"] .images-hover-scale-xs img,
.workspace-leaf-content[data-mode="source"] .images-hover-scale-xs .image-embed,
.workspace-leaf-content[data-mode="preview"] .images-hover-scale-sm img,
.workspace-leaf-content[data-mode="source"] .images-hover-scale-sm .image-embed,
.workspace-leaf-content[data-mode="preview"] .images-hover-scale-md img,
.workspace-leaf-content[data-mode="source"] .images-hover-scale-md .image-embed,
.workspace-leaf-content[data-mode="preview"] .images-hover-scale-lg img,
.workspace-leaf-content[data-mode="source"] .images-hover-scale-lg .image-embed,
.workspace-leaf-content[data-mode="preview"] .images-hover-scale-xl img,
.workspace-leaf-content[data-mode="source"]
  .images-hover-scale-xl
  .image-embed {
  transition: all 0.3s ease;
}

.workspace-leaf-content[data-mode="preview"] .images-hover-scale-xs img:hover,
.workspace-leaf-content[data-mode="source"]
  .images-hover-scale-xs
  .image-embed:hover {
  transform: scale(1.2);
}

.workspace-leaf-content[data-mode="preview"] .images-hover-scale-sm img:hover,
.workspace-leaf-content[data-mode="source"]
  .images-hover-scale-sm
  .image-embed:hover {
  transform: scale(1.4);
}

.workspace-leaf-content[data-mode="preview"] .images-hover-scale-md img:hover,
.workspace-leaf-content[data-mode="source"]
  .images-hover-scale-md
  .image-embed:hover {
  transform: scale(1.6);
}

.workspace-leaf-content[data-mode="preview"] .images-hover-scale-lg img:hover,
.workspace-leaf-content[data-mode="source"]
  .images-hover-scale-lg
  .image-embed:hover {
  transform: scale(1.8);
}

.workspace-leaf-content[data-mode="preview"] .images-hover-scale-xl img:hover,
.workspace-leaf-content[data-mode="source"]
  .images-hover-scale-xl
  .image-embed:hover {
  transform: scale(2);
}
