/*
 * ╭─────────────────────────────────────────────────────────╮
 * │                     Monospace font                      │
 * ╰─────────────────────────────────────────────────────────╯
*/
.font-monospace * {
  font-family: var(--font-monospace) !important;
}

/*
 * ╭─────────────────────────────────────────────────────────╮
 * │                      Font weights                       │
 * ╰─────────────────────────────────────────────────────────╯
*/
.font-thin {
  font-weight: 100;
}

.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

.font-black {
  font-weight: 900;
}

/*
 * ╭─────────────────────────────────────────────────────────╮
 * │                       Text cases                        │
 * ╰─────────────────────────────────────────────────────────╯
*/
.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalize {
  text-transform: capitalize;
}

/*
 * ╭─────────────────────────────────────────────────────────╮
 * │                       Text align                        │
 * ╰─────────────────────────────────────────────────────────╯
*/
.text-left {
  text-align: start;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: end;
}

.text-justify {
  text-align: justify;
}

/*
 * ╭─────────────────────────────────────────────────────────╮
 * │                      Image filters                      │
 * ╰─────────────────────────────────────────────────────────╯
*/
.image-invert img,
.image-grayscale img,
.image-sepia img,
.image-blur-sm img,
.image-blur-md img,
.image-blur-lg img {
  transition: all 0.3s ease;
  filter: grayscale(var(--grayscale, 0)) sepia(var(--sepia, 0))
    invert(var(--invert, 0)) blur(var(--blur, 0));
}

.image-invert img:hover,
.image-grayscale img:hover,
.image-sepia img:hover,
.image-blur-sm img:hover,
.image-blur-md img:hover,
.image-blur-lg img:hover {
  filter: grayscale(var(--grayscale, 0)) sepia(var(--sepia, 0))
    invert(var(--invert, 0)) blur(0);
}

.image-invert img {
  --invert: 1;
}

.image-grayscale img {
  --grayscale: 1;
}

.image-sepia img {
  --sepia: 1;
}

.image-blur-sm img {
  --blur: 5px;
}

.image-blur-md img {
  --blur: 10px;
}

.image-blur-lg img {
  --blur: 15px;
}

/*
 * ╭─────────────────────────────────────────────────────────╮
 * │       Make images square (remove rounded corners)       │
 * ╰─────────────────────────────────────────────────────────╯
*/
.image-square img {
  border-radius: 0;
}

/*
 * ╭─────────────────────────────────────────────────────────╮
 * │                  Scale images on hover                  │
 * ╰─────────────────────────────────────────────────────────╯
*/
.workspace-leaf-content[data-mode="preview"] .image-hover-scale-xs img,
.workspace-leaf-content[data-mode="source"] .image-hover-scale-xs .image-embed,
.workspace-leaf-content[data-mode="preview"] .image-hover-scale-sm img,
.workspace-leaf-content[data-mode="source"] .image-hover-scale-sm .image-embed,
.workspace-leaf-content[data-mode="preview"] .image-hover-scale-md img,
.workspace-leaf-content[data-mode="source"] .image-hover-scale-md .image-embed,
.workspace-leaf-content[data-mode="preview"] .image-hover-scale-lg img,
.workspace-leaf-content[data-mode="source"] .image-hover-scale-lg .image-embed,
.workspace-leaf-content[data-mode="preview"] .image-hover-scale-xl img,
.workspace-leaf-content[data-mode="source"] .image-hover-scale-xl .image-embed {
  transition: all 0.3s ease;
}

.workspace-leaf-content[data-mode="preview"] .image-hover-scale-xs img:hover,
.workspace-leaf-content[data-mode="source"]
  .image-hover-scale-xs
  .image-embed:hover {
  transform: scale(1.2);
}

.workspace-leaf-content[data-mode="preview"] .image-hover-scale-sm img:hover,
.workspace-leaf-content[data-mode="source"]
  .image-hover-scale-sm
  .image-embed:hover {
  transform: scale(1.4);
}

.workspace-leaf-content[data-mode="preview"] .image-hover-scale-md img:hover,
.workspace-leaf-content[data-mode="source"]
  .image-hover-scale-md
  .image-embed:hover {
  transform: scale(1.6);
}

.workspace-leaf-content[data-mode="preview"] .image-hover-scale-lg img:hover,
.workspace-leaf-content[data-mode="source"]
  .image-hover-scale-lg
  .image-embed:hover {
  transform: scale(1.8);
}

.workspace-leaf-content[data-mode="preview"] .image-hover-scale-xl img:hover,
.workspace-leaf-content[data-mode="source"]
  .image-hover-scale-xl
  .image-embed:hover {
  transform: scale(2);
}
