/* Hide vault name */
.nav-folder.mod-root > .nav-folder-title {
  display: none;
}

/* Hide tabs when only one tab is open (with transition) */
.mod-root .workspace-tabs .workspace-tab-header-container {
  max-height: 3em;
  opacity: 1;
  overflow: hidden;
  transition:
    opacity 0.3s ease,
    max-height 0.3s ease;
}

.mod-root
  .workspace-tabs:not(:has(.workspace-tab-header:nth-of-type(2)))
  .workspace-tab-header-container {
  max-height: 0;
  opacity: 0;
}

/* Hide sidebar buttons */
.sidebar-toggle-button.mod-right,
.sidebar-toggle-button.mod-left {
  display: none;
}

.mod-macos.is-hidden-frameless:not(.is-popout-window)
  .workspace
  .workspace-tabs.mod-top-right-space
  .workspace-tab-header-container {
  padding-right: 4px;
}

/* Hide meta */
.markdown-reading-view .metadata-container {
  display: none;
}

/* Hide scrollbars */
::-webkit-scrollbar {
  display: none;
}

/* Hide search count flair */
.tree-item-flair:not(.tag-pane-tag-count) {
  display: none;
}

/* Hide instructions */
.prompt-instructions {
  display: none;
}

/* Hide file nav header */
.workspace-leaf-content[data-type="file-explorer"] .nav-header {
  display: none;
}

/* Hide left panel header icons unless hovered */
.mod-left-split .mod-top-left-space .workspace-tab-header-container-inner {
  opacity: 0;
  transition: opacity 0.25s ease;
}

.mod-left-split
  .mod-top-left-space
  .workspace-tab-header-container-inner:hover {
  opacity: 1;
}

/* Hide nav buttons */
.view-header-nav-buttons {
  display: none;
}

/* Hide tags, links, backlinks and outline nav headers unless hovered */
.workspace-split .workspace-leaf-content[data-type="tag"] .nav-header,
.workspace-split .workspace-leaf-content[data-type="outgoing-link"] .nav-header,
.workspace-split .workspace-leaf-content[data-type="backlink"] .nav-header,
.workspace-split .workspace-leaf-content[data-type="outline"] .nav-header {
  padding: 0;
  opacity: 0;
  height: 0;
  transition: all 0.3s ease;
}

.workspace-split:hover .workspace-leaf-content[data-type="tag"] .nav-header,
.workspace-split:hover
  .workspace-leaf-content[data-type="outgoing-link"]
  .nav-header,
.workspace-split:hover
  .workspace-leaf-content[data-type="backlink"]
  .nav-header,
.workspace-split:hover
  .workspace-leaf-content[data-type="outline"]
  .nav-header {
  opacity: 1;
  height: 1.75em;
}

/* Hide vault switcher unless hovered */
.workspace-sidedock-vault-profile .workspace-drawer-vault-switcher {
  order: 1;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.workspace-sidedock-vault-profile:hover .workspace-drawer-vault-switcher,
.workspace-sidedock-vault-profile
  .workspace-drawer-vault-switcher.has-active-menu {
  opacity: 1;
}
