/*
 * ╭─────────────────────────────────────────────────────────╮
 * │                Obsidian Global Variables                │
 * ╰─────────────────────────────────────────────────────────╯
*/

body {
  /* Typography */
  --line-height-normal: 1.6;

  /* Links */
  --link-decoration: underline;
  --link-unresolved-decoration-style: dotted;
  --link-unresolved-decoration-color: var(----link-unresolved-color);

  /* Lists */
  --checkbox-marker-color: var(--background-secondary);

  /* Blockquotes */
  --blockquote-border-color: var(--text-muted);
  --blockquote-color: var(--text-muted);

  /* Inline Code */
  --code-background: rgba(var(--mono-rgb-100), 0.05);

  /* Workspace & Modal Backgrounds */
  --workspace-background-translucent: rgba(
    var(--mono-rgb-0),
    var(--background-opacity, 0.5)
  );
  --modal-background: var(--background-secondary);
  --titlebar-background-focused: var(--background-primary);

  /* Dividers */
  --divider-color: transparent !important;

  /* Headings */
  --h1-size: calc(var(--font-text-size) * 2);
}

/*
 * ╭─────────────────────────────────────────────────────────╮
 * │                  Theme Color Variables                  │
 * ╰─────────────────────────────────────────────────────────╯
*/

/* Light theme colors */
.theme-light {
  --background-primary: #f7f7f7;
  --background-secondary: #fcfcfc;
  --text-normal: #1a1a1a;
  --text-muted: #b5b3b1;
}

/* Dark theme colors */
.theme-dark {
  --background-primary: #111111;
  --background-secondary: #141414;
  --text-normal: #ccc;
  --text-muted: #707070;
}

/* Ensure fullscreen dark mode uses same primary background */
.theme-dark.is-fullscreen {
  --background-primary: #111111;
}

/*
 * ╭─────────────────────────────────────────────────────────╮
 * │                   Transparency Tweaks                   │
 * ╰─────────────────────────────────────────────────────────╯
*/

/* Enable transparency on all non-Windows systems (e.g., macOS/Linux) */
:not(.mod-windows).theme-dark {
  --background-primary: transparent;
}
