/* Desaturate and fade status bar */
.status-bar {
  filter: saturate(0);
  opacity: 0.5;
  border: none;
}

/* Link styling */
.cm-s-obsidian span.cm-hmd-internal-link:hover,
.cm-s-obsidian span.cm-url,
.cm-underline,
.markdown-source-view.mod-cm6 .cm-underline,
.markdown-source-view.mod-cm6 .is-unresolved .cm-underline {
  text-decoration-style: dotted;
  text-decoration-color: var(--text-muted);
  text-underline-offset: 0.3em;
}

/* Opaque background fix */
.prompt,
.popover,
.suggestion,
.vertical-tab-content {
  background-color: var(--modal-background);
}

/* Fix titlebar draggability */
.view-header-title-container {
  -webkit-app-region: drag;
}
