/* Desaturate and fade status bar */
.deemphasize-status-bar .status-bar {
  filter: saturate(0);
  opacity: 0.5;
  border: none;
  transition:
    filter 0.3s ease,
    opacity 0.3s ease;
}

.deemphasize-status-bar .status-bar:hover,
.deemphasize-status-bar .status-bar:focus-within {
  filter: saturate(1);
  opacity: 1;
}

/* Grayscale and lower the contrast of file properties and embedded backlinks when not hovered */
.embedded-backlinks,
.metadata-container {
  filter: grayscale(1);
  opacity: 0.3;
  transition:
    filter 0.3s ease,
    opacity 0.3s ease;
}

.embedded-backlinks:hover,
.embedded-backlinks:focus-within,
.metadata-container:hover,
.metadata-container:focus-within {
  filter: grayscale(0);
  opacity: 1;
}

/* Image rounded corners */
img {
  border-radius: var(--radius-s);
}

/* Transparent background fix */
:not(.mod-windows) .prompt,
:not(.mod-windows) .popover,
:not(.mod-windows) .suggestion,
:not(.mod-windows) .graph-controls,
:not(.mod-windows) .lt-predictions-container,
:not(.mod-windows) .vertical-tab-content {
  background-color: var(--modal-background) !important;
}

/* Fix titlebar draggability */
.view-header-title-container {
  -webkit-app-region: drag;
}

/* Fix not being able to click on the elements inside the titlebar */
.view-header-title-container div {
  -webkit-app-region: no-drag;
}

/* Stacked tabs transparent background fix */
.mod-stacked
  .workspace-tab-container
  > div:not(:nth-of-type(1)):not(:nth-of-type(2)) {
  --background-primary: #111111;
}

/* Larger gap between header and paragraph */
.HyperMD-header-1:has(+ .cm-line):not(:has(+ .HyperMD-header-2)),
.HyperMD-header-2:has(+ .cm-line):not(:has(+ .HyperMD-header-3)) {
  padding-bottom: 0.125em !important;
}

.HyperMD-header-3:has(+ .cm-line):not(:has(+ .HyperMD-header-4)) {
  padding-bottom: 0.1em !important;
}

.HyperMD-header-4:has(+ .cm-line):not(:has(+ .HyperMD-header-5)) {
  padding-bottom: 0.075em !important;
}

/* Show header hashtags depending on setting */
.show-header-hashtags .HyperMD-header-1:not(.cm-active) .cm-header::before {
  content: "# ";
  color: var(--text-faint);
}
.show-header-hashtags .HyperMD-header-2:not(.cm-active) .cm-header::before {
  content: "## ";
  color: var(--text-faint);
}
.show-header-hashtags .HyperMD-header-3:not(.cm-active) .cm-header::before {
  content: "### ";
  color: var(--text-faint);
}
.show-header-hashtags .HyperMD-header-4:not(.cm-active) .cm-header::before {
  content: "#### ";
  color: var(--text-faint);
}
.show-header-hashtags .HyperMD-header-5:not(.cm-active) .cm-header::before {
  content: "##### ";
  color: var(--text-faint);
}
.show-header-hashtags .HyperMD-header-6:not(.cm-active) .cm-header::before {
  content: "###### ";
  color: var(--text-faint);
}
