/* Desaturate and fade status bar */
.status-bar {
  filter: saturate(0);
  opacity: 0.5;
  border: none;
}

/* Grayscale and lower the contrast of file properties and embedded backlinks when not hovered */
.embedded-backlinks,
.metadata-container {
  filter: grayscale(100%) contrast(0);
  opacity: 0.35;
  transition:
    filter 0.3s ease,
    opacity 0.3s ease;
}

.embedded-backlinks:hover,
.embedded-backlinks:focus-within,
.metadata-container:hover,
.metadata-container:focus-within {
  filter: grayscale(0) contrast(1);
  opacity: 1;
}

/* Link styling */
.cm-s-obsidian span.cm-hmd-internal-link:hover,
.cm-s-obsidian span.cm-url,
.cm-underline,
.markdown-source-view.mod-cm6 .cm-underline,
.markdown-source-view.mod-cm6 .is-unresolved .cm-underline {
  text-decoration-style: dotted;
  text-decoration-color: var(--text-muted);
  text-underline-offset: 0.3em;
}

/* Image rounded corners */
img {
  border-radius: 0.5em;
}

/* Transparent background fix */
:not(.mod-windows) .prompt,
:not(.mod-windows) .popover,
:not(.mod-windows) .suggestion,
:not(.mod-windows) .graph-controls,
:not(.mod-windows) .lt-predictions-container,
:not(.mod-windows) .vertical-tab-content {
  background-color: var(--modal-background) !important;
}

/* Fix titlebar draggability */
.view-header-title-container {
  -webkit-app-region: drag;
}

/* Fix not being able to click on the elements inside the titlebar */
.view-header-title-container div {
  -webkit-app-region: no-drag;
}
